<font color="gold"><center><h2><%=p2_name%> start guessing the letters. <h2></center>
<center><h3><%=blank%></h3></center>
<h2><center><%=message%></center></h2>

<br></br>

<h3><center><%=counter%></center></h3>

<form method="post" action="guess">

<center><input type="text" name="letter">

<input type="submit" value="Enter Guess"/></center>

<h2><center>guesses - <%=already_guessed%></center></h2>
<h2><center><font color="gold"> <%=message2%></center></h2></font>

<input type="hidden" name="player1" value='<%=p1_name%>'>
<input type="hidden" name="player2" value='<%=p2_name%>'>
</form>

<%if counter == 7 %>
<center><img src = "http://i.amz.mshcdn.com/wwWKefaZFIkWc4lxtfo7GW4c8u0=/fit-in/1200x9600/http%3A%2F%2Fi.imgur.com%2F1J35je5.gif">
<%elsif counter == 6 %>
<center><img src="https://media.giphy.com/media/PTmJUYm5YXELS/giphy.gif">
<%elsif counter == 5 %>
<center><img src = "https://i.makeagif.com/media/10-12-2015/H4YCQg.gif">
<%end%>